<?php
//All settings in interfacedata.php can be overwritten here.
//Rename this file to "interfacedata.custom.php".

    $customInterfaceDataJson = '
{
    "settings": {
        "directLoginUser": "",
        "directLoginApiKey": ""
    }
}
';
