#user_wrapper .form-group{
  margin-bottom: 20px;
}

#color-picker-container{
  margin-top: 20px;
}

#color-picker-container > .iro__colorPicker{
  margin: auto;
}

#color-picker-container > svg{
  margin: 0 auto;
}