.user_wrapper .form-group{
  
}

.user_wrapper .form-group {
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #898989;
}

.user_wrapper .form-group .device_wrapper .device{
  border-bottom: 0px solid #898989;
  padding: 0px;
}

.user_wrapper .form-group .label {
  font-size: 24px;
  margin-bottom: 10px;
}

.user_wrapper .form-group input, 
.user_wrapper .form-group textarea {
  font-size: 20px;
  background: #191b1f;
}

.user_wrapper .form-group .ui-select span {
  display: none;
}