.svg_icon {
    height: inherit;
	width: inherit;
}

.svg_icon svg{
    color: #fff;
	fill: #fff;
	width: inherit;
	height: inherit;
}

.svg_icon.active svg{
    color: #e3a104;
	fill: #e3a104;
}

.iconArrow {
	margin-top:15px;
	float: right;
	padding-top: 2px;
}

.iconArrow svg {
	height: 39px;
	max-width: 39px;
	fill: #898989;
}



.device_icon .active,
.decive_icon .inactive {
	float: left;
	width: 90px;
    margin-right: 10px;
}

.device_icon .active svg, 
.device_icon .inactive svg{
	height: 60px;
	width: 60px;
	fill: #898989;
}

.device_icon .active .svg_icon svg{
    color: #e3a104;
	fill: #e3a104;
}



.svg_icon.light_on_1 .svg_state {
	display: none;
}

.svg_icon.light_on_1.active .svg_state {
	display: block;
}



.svg_icon.window_1 svg .window{
	fill: none;
	stroke: #fff;
}

.device_icon .svg_icon.window_1 svg .window{
	fill: none;
	stroke: #898989;
}

.svg_icon.window_1 .window_open {
	display: none;
}

.svg_icon.window_1 .window_close {
	display: block;
}

.svg_icon.window_1.active svg .window{
	stroke: #e3a104;
}

.svg_icon.window_1.active svg .window_open {
	display: block;
}

.svg_icon.window_1.active svg .window_close {
	display: none;
}



.svg_icon.door_open_1 .door_open,
.svg_icon.door_open_2 .door_open {
	display: none;
}

.svg_icon.door_open_1 .door_close,
.svg_icon.door_open_2 .door_close {
	display: block;
}

.svg_icon.door_open_1.active .door_open,
.svg_icon.door_open_2.active .door_open {
	display: block;
}

.svg_icon.door_open_1.active .door_close,
.svg_icon.door_open_2.active .door_close {
	display: none;
}