#!/usr/bin/make -f

override_dh_auto_clean:

override_dh_auto_configure:
	# We can for example download needed files here.
	# All shell commands are supported

override_dh_auto_build:

override_dh_auto_install:
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	# {{{ Create Node.js links to be able to run npm in this script
	# Linking this file uses /usr/bin/node_modules instead of /usr/lib/node_modules
	if test ! -e /usr/bin/npm; then ln -s /usr/share/homegear/nodejs/lib/node_modules/npm/bin/npm /usr/bin/npm; fi
	# Linking this file uses /usr/bin/node_modules instead of /usr/lib/node_modules
	if test ! -e /usr/bin/npx; then ln -s /usr/share/homegear/nodejs/lib/node_modules/npm/bin/npx /usr/bin/npx; fi
	if test ! -e /usr/bin/node; then ln -s /usr/bin/homegear-node /usr/bin/node; fi
	# This works and doesn't bite with the real Node.js if installled.
	if test ! -e /usr/bin/node_modules; then ln -s /usr/share/homegear/nodejs/lib/node_modules /usr/bin/node_modules; fi
	ln -s /usr/share/homegear/nodejs/lib/node_modules /usr/bin/node_modules
	# }}}
	
	cd $(CURDIR)
	npm install
	npm run build
	mkdir -p $(CURDIR)/debian/homegear-ui/var/lib/homegear/ui
	cp -R $(CURDIR)/dist/* $(CURDIR)/debian/homegear-ui/var/lib/homegear/ui/
	mkdir -p $(CURDIR)/debian/homegear-ui/etc/homegear/devices/uiBase/
	cp -R $(CURDIR)/admin/master/homegear/uiElements/* $(CURDIR)/debian/homegear-ui/etc/homegear/devices/uiBase/

%:
	dh $@
