.window-buttons-up-down_control_button_wrapper {
    display: table;
    clear: both;
    width: 100%;
    margin: 10px 0;
}

.window-buttons-up-down_control_button_wrapper .control_button {
    background: #191b1f;
    display: table-cell;
    padding: 0px;
    border-right: 1px solid #25282E;
    height: 80px;
    text-align: center;
    position: relative;
    vertical-align: middle;
}

.window-buttons-up-down_control_button_wrapper .control_button:last-child {
    border-right: 0px solid;
}

.window-buttons-up-down_control_button_wrapper .control_button:active, .control_button:focus {
    background: #898989;
}

.window-buttons-up-down_control_button_wrapper .control_button svg {
    width: 50px;
    height: 50px;
    margin: auto;
    text-align: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    fill: #fff;
}

.window-buttons-up-down_control_button_wrapper .control_button .schliesen1 svg {
    width: 30px;
    height: 30px;
}